.git/
.github/
.idea/
.vscode/
.mvn/wrapper/maven-wrapper.jar
**/target/
**/build/
**/coverage/
node_modules/
Dockerfile*
.dockerignore
*.log*
.env
.env.*
!.env.example
*.tmp
*.swp
.DS_Store
Thumbs.db
